* {
    font-family: "Montserrat", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Urbanist", sans-serif;
}

:root {
    /* --fucsia: #8e8e8e; */
    --fucsia: #FF6B35;
    --orange: #fb5607;
    --yellow: rgb(255, 190, 11);
    --purple: #8338ec;
    --blue: #3a86ff;
}

.navColor{
    background: linear-gradient(352deg, rgba(255,107,53,1) 47%, rgba(251,35,7,1) 100%);
}

.wide {
    min-height: 80vh;
    width: 80vw;
}

.wide-50 {
    min-height: 50vh;
    
}


.h_65 {
    height: 65vh;
}

.bg_gradient{
    background: linear-gradient(var(--fucsia), rgb(255, 140, 33));
}


.bg_fucsia {
    background-color: var(--fucsia);
    color: white;
}
.bg_orange {
    background-color: var(--orange);
    color: white;
}
.bg_yellow {
    background-color: var(--yellow);
    color: white;
}
.bg_purple {
    background-color: var(--purple);
    color: white;
}
.bg_blue {
    background-color: var(--blue);
    color: white;
}

.color_fucsia {
    color: var(--fucsia);
}

.text_black{
    color: black;
}
.text_white{
    color: white;
}

.btn_custom {
    background-color: var(--fucsia);
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    font-weight: 600;
}

.btn_custom_out {
   
    background-color: white;
    border: 2px solid var(--fucsia);
    color: var(--fucsia);
    border-radius: 15px;
    padding: 5px 20px;
    font-weight: 600;
}

.btn_custom_2 {
    background-color: var(--fucsia);
    color: white;
    height: 60px;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 30px;
    font-weight: 600;
    -webkit-box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.34); 
    box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.34);
    
}


.btn_custom_2:hover {
    background-color: var(--fucsia);
    color: rgb(252, 206, 0);
    height: 60px;
    font-size: 20px;
    border-radius: 25px;
    padding: 5px 30px;
    font-weight: 600;
    -webkit-box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.34); 
    box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.34);
    
}


.stick_add {
    position: fixed;
    bottom: 40px;
    right: 60px;
    z-index: 999;
}

@media screen and (max-width: 680px) {
    .stick_add {
        position: fixed;
        bottom: 15px;
        right: 10px;
        z-index: 999;
    }
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.dropdown-menu{
    min-width: 300px !important;
}

.badge{
    color: white;
    background-color: var(--fucsia);
}

.nav-link-color {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--fucsia) !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.nav-link-black {
    display: block;
    padding: 0.5rem 1rem;
    
    color: black !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.carousel_custom {
    border-radius: 50px !important;
}

.category_box {
    border-radius: 8px !important;
    color: white;
    height: 110px;
    width: 240px;
}

.margin_top{
    margin-top: 150px;
}


.category_div{
    transition: 1s;
    -webkit-box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.34); 
    box-shadow: 5px 9px 13px 0px rgba(0,0,0,0.34);
    border: 1px solid rgba(0, 0, 0, 0.192);
    
    
}
/* .category_div:hover{
    filter: grayscale(60%);
    opacity: 1;
    border: 2px solid yellow;
}
 */
.card_venditore{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    

}

.minHeight{
    min-height: 550px;
}

@media screen and (max-width: 700px) {
    .minHeight {
      min-height: 100px;
    }
  }



 .login_body{
    background: linear-gradient(rgba(255, 0, 110, 0.5),  rgba(0, 0, 0, 0), rgba(255, 190, 11, 0.2));
    
}

.login_body_bg{
    position: relative;
} 



#cat_bg1{
    background-color: rgb(255, 190, 11) !important;
}
#cat_bg2{
    background-color: rgb(253, 138, 9) !important;
}
#cat_bg3{
    background-color: #FB5607 !important;
}
#cat_bg4{
    background-color: #FD2B3B !important;
}

#cat_bg5{
    background-color: #FF006E !important;
}

#cat_bg6{
    background-color: #C11CAD;
}

#cat_bg7{
    background-color: #A22ACD;
    
}

#cat_bg8 {
    background-color: #8338EC;
}

#cat_bg9{
    background-color: #5F5FF6;
}
#cat_bg10{
    background-color: #714CF1;
}


#cat_bg11{
    background-color: #4D73FB;
}

#cat_bg12{
    background-color: #3A86FF;
}










.annonucement_box {
    border-radius: 25px !important;
}

/* carouseltest */





@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container_c {
  width: 1280px;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .carousel-container_c {
    width: 80%;
  }


}
@media screen and (max-width: 1024px) {
  .carousel-container_c {
    width: 85%;
  }
}





.card_custom{
    border: 0px solid rgb(138, 138, 138) !important;
}
.carousel-container_c .carousel-inner_c {
  overflow: hidden;
}
.carousel-container_c .track {
  display: inline-flex;
  transition: transform 0.8s;
}
.carousel-container_c .card-container {
  width: 259px;
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}
.carousel-container_c .card-container .card {
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
}
.nav .prev {
  left: -30px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
}
.nav .next.hide {
  display: none;
}

.card > * {
  flex: 1;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}


.text-shadow{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.651);
}


.search_lab{
    border: 2 solid black;
    border-radius: 20px, 0px, 0px, 8px !important;
}

.pCustom{
    padding: 100px 130px;
}